
:root{
    /*Background Color*/

    --primary-color: #00ffe1;
    --secondary-color: #0e1525;
    -bg-dark-blue: #091020;
    --bg-white: #fff;
    --gray-color: #010101bf;
    --gradient-color: linear-gradient(-224deg, var(--primary-color) 0 , #337DFF 100%);
    --gradient-text: blue;
    filter: white;

    /* Text colr */
    --primary-font:'Poppins', sans-serif;
    --primary-text: #FD4766;
    --text-gray: #c6c6c6;
    --text-white: #fff;

}
@media (max-width:991px){

    section{
        padding: 30px 0;

    }

    h2{
        font-size: 30px;
        line-height: 40px;

    }

    h3{
        font-size: 20px;
        
    }

    /* nav bar in mobile */

.header-scrolled{
    /* background-color: red;00 */
    height: auto;
}
.header_wrapper .menu-navbar-nav{
    background-color: #091020;
    text-align: center;
    padding-bottom: 15px;
}
.header_wrapper .menu-navbar-nav .nav-link{
    margin-top: 15px;
}

/* banner wrapper*/
 .banner_wrapper{
     padding: 200px 0;
 }
/* /////////////////////////about */
 .sanish2 img{
     margin-top: -60px;
     margin-left: 160px;
    width: 55%;
    border-radius: 15px;
    height: auto;
    max-height: 700px;
    position: relative;
    background-size: cover;
    /* padding:200px 0 100px 0; */
    background-attachment: fixed;
}

.about_wrapper h2{
    width: auto;
    /* width: fit-content; */
    /* margin-bottom: 100px; */
    margin-top: -60px;
    
    
}

.about_wrapper ul.nav-pills{
    border: 1px solid gray;
    border-radius: 50px;
    border-color: #c5f6f0;
    width: 28%;
    margin: auto;
}
}




@media (max-width: 767px){
/* mobile screeeeen */
    h1{
        font-size: 40px;
        line-height: 48px;


    }

    h2{
        font-size: 25px;

    }

    p{
        font-size: 13px;
        line-height: 24px;
    }

    .sanish2 img{
        margin-left: 10%;
        margin-top: -58px;
        /* margin-left: 100px; */
        /* position:relative; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
       width:80%;
       /* border-radius: 15px; */
       height: auto;
       max-height: 90px;
       /* position: relative; */
       /* background-size: cover; */
       /* padding:200px 0 100px 0; */
       /* background-attachment: fixed; */
   }
   .about_wrapper h2{
    width: auto;
    /* margin-left: 35%; */
  
    /* width: fit-content; */
    /* margin-bottom: 100px; */
    margin-top: -150px;
    
    
}

.about_wrapper ul.nav-pills{
   margin: auto;
    width: 100%;
   border: 0;
}


.about_wrapper ul li .nav-link{
    font-size: 13px;
}







}